  <tr<%=' class="credit_record"' if transaction.respond_to?(:credit?) && transaction.credit? %>>
    <% @search.fields.each do |field| %>
    <% if (field == 'time') %>
    <td>
    	<%=(transaction.respond_to?(:completed_at) ? transaction.completed_at : transaction.created_at).localtime.strftime('%Y-%m-%d %H:%M') %>
    </td>
    <% else %>
	<% field_def = @transaction_fields_map[field.to_sym] %>
    <td>
    	<%=field_def[:attr_method] ? field_def[:attr_method].call(transaction) : transaction.send(field) %>
		<%="#{transaction.assignment.try(:order).try("last_#{field}_change").try(:created_at).try(:localtime).try(:strftime, '(%H:%M)')}" if @search.last_change_time && field_def[:last_change_time] %>
	</td>
    <% end %>
    <% end %>
	<td>
	</td>
  </tr>
