    <tr class="summary">
      <td colspan="<%=@dimensions.size - dimension%>"></td>
      <td align="right"><%=result[:count]%></td>
      <td align="right"><%=result[:volume]%></td>
      <td align="right"><%=result[:volume_compensated]%></td>
    </tr>
